{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/aboutme-bg.png')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          My name is Zhiyu Zhong and I am a motivated and enthusiastic Computing postgraduate at Cardiff University. I have gained knowledge in HTML & CSS, JavaScript, and Python during my postgraduate studies. I am highly enthusiastic with excellent communication skills and am currently seeking a role as a front-end developer or software engineer for a placement year of 7-12 months.
        </p>
        <p>
          I will have a MSc in Computing with Placement from Cardiff University, where I study relevant modules such as Computational Thinking, Fundamentals of Programming, Software Engineering. Additionally, I have a BSc in International Business from South East Technological University in Ireland, where I studied subjects such as Organization Behavior, Applied Business Solutions, and Strategic Management. I also have a BSc in Financial Engineering from Guilin University of Electronic Technology in China, where I studied subjects such as Technique & Application of Database, Advanced Mathematics, Statistics, Experiment, Probability and Statistics, Introduction to Information Technology.
        </p>
        <p>
          I am excited to put my skills and knowledge to use in a professional setting and am eager to continue learning and growing in the field of software development and technology."
        </p>

    </div>
  </div>

  <hr>

  {% include "footer.html" %}